<template>
  <div>
    <b-form-group label="First name">
      <b-form-input v-model="form.name" required />
    </b-form-group>
    <b-form-group label="Last name">
      <b-form-input v-model="form.surname" required />
    </b-form-group>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

@Component
export default class AuthorForm extends Vue {
  @Prop() value!: any;

  form = {
    name: "",
    surname: ""
  };

  @Watch("form", { deep: true })
  onFormChanged() {
    this.$emit("input", this.form);
  }

  @Watch("value", { deep: true })
  onValueChanged(newVal: any) {
    this.form = newVal;
  }
}
</script>

<style scoped lang="less"></style>
