<template>
  <div>
    <b-form-group label="Book name">
      <b-form-input v-model="form.name" required />
    </b-form-group>
    <b-form-group label="Pages">
      <b-form-input v-model="form.pages" required />
    </b-form-group>
    <b-form-group label="Published year">
      <b-form-input v-model="form.year" required />
    </b-form-group>
    <b-form-group label="Author">
      <b-form-select v-model="form.author" :options="options"></b-form-select>
    </b-form-group>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { optionsFormatter } from "@/services/utils";

@Component
export default class BookForm extends Vue {
  @Prop() value!: any;

  form = {
    name: "",
    year: "",
    pages: 0,
    author: 0
  };

  options = [];

  @Watch("form", { deep: true })
  onFormChanged() {
    this.$emit("input", this.form);
  }

  @Watch("value", { deep: true })
  onValueChanged(newVal: any) {
    this.form = newVal;
  }

  created() {
    this.form = Object.assign({}, this.value);

    this.$api.authors.getAll().then((res: any) => {
      this.options = optionsFormatter(
        res,
        (item: any) => `${item.name} ${item.surname}`
      );
    });
  }
}
</script>

<style scoped lang="less"></style>
