<template>
  <div class="modal fade show d-block" @click="outsideClick($event)">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <header class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="close" @click="closeUsing">×</button>
        </header>
        <div class="modal-body">
          <slot name="body"></slot>
        </div>
        <footer class="modal-footer">
          <slot name="footer"></slot>
        </footer>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class IgBaseModal extends Vue {
  @Prop() title!: string;
  @Prop() closeUsing!: () => void;

  outsideClick(e: any) {
    if (e.target.matches(".modal.fade")) this.closeUsing();
  }
}
</script>

<style lang="less" scoped>
.modal {
  background: rgba(0, 0, 0, 0.5);
}
</style>
