<template>
  <ig-base-modal class="modal" title="Confirm delete" :closeUsing="$close">
    <p class="my-4" slot="body">
      Are you sure you want to delete the selected item?
    </p>

    <template slot="footer">
      <b-button variant="secondary" @click="$close(false)">Cancel</b-button>
      <b-button variant="danger" @click="$close(true)">Delete</b-button>
    </template>
  </ig-base-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import IgBaseModal from "./IgBaseModal.vue";
import { DialogComponent } from "vue-modal-dialogs";

@Component({
  components: { IgBaseModal }
})
export default class CreateItemModal extends DialogComponent<any> {}
</script>
