<template>
  <ig-base-modal class="modal" title="Edit" :closeUsing="$close">
    <div class="my-4" slot="body">
      <form @submit.prevent="submit" @keydown.enter.prevent="submit">
        <component :is="component" v-model="form"></component>
      </form>
    </div>

    <template slot="footer">
      <b-button variant="secondary" @click="$close(false)">Cancel</b-button>
      <b-button variant="danger" @click="$close(form)">Edit</b-button>
    </template>
  </ig-base-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import IgBaseModal from "./IgBaseModal.vue";
import { DialogComponent } from "vue-modal-dialogs";

@Component({
  components: { IgBaseModal }
})
export default class IgEntityFormModal extends DialogComponent<any> {
  @Prop() component!: any;
  @Prop() item!: any;

  form = {};

  submit() {
    this.$close(this.form);
  }

  created() {
    if (this.item) {
      this.form = Object.assign({}, this.item);
    }
  }
}
</script>
