<template>
  <div>
    <b-card
      class="mb-2"
      v-for="book in books"
      :key="book.id"
      :title="book.name"
      :sub-title="book.year"
    >
      <b-card-text> Pages: {{ book.pages }} </b-card-text>

      <b-card-text> Author: {{ book.author | authorName }} </b-card-text>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Mixins } from "vue-property-decorator";

@Component
export default class BookList extends Vue {
  @Prop({
    required: true,
    type: Array
  })
  books!: any;
}
</script>
