<template>
  <div>
    <b-form-group label="First Name">
      <b-form-input v-model="form.name"></b-form-input>
    </b-form-group>
    <b-form-group label="Last Name">
      <b-form-input v-model="form.surname"></b-form-input>
    </b-form-group>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Mixins } from "vue-property-decorator";
import BaseForm from "@/components/forms/BaseForm";

@Component
export default class AuthorForm extends Mixins<BaseForm>(BaseForm) {
  form = {
    name: "",
    surname: ""
  };
}
</script>
