<template>
  <div>
    <b-form-group label="Name">
      <b-form-input v-model="form.name"></b-form-input>
    </b-form-group>
    <b-form-group label="Year">
      <b-form-input v-model="form.year"></b-form-input>
    </b-form-group>
    <b-form-group label="Pages">
      <b-form-input v-model="form.pages"></b-form-input>
    </b-form-group>
    <b-form-group label="Author">
      <b-form-select v-model="form.author" :options="authors"></b-form-select>
    </b-form-group>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Mixins } from "vue-property-decorator";
import BaseForm from "@/components/forms/BaseForm";

@Component
export default class BookForm extends Mixins<BaseForm>(BaseForm) {
  form = {
    name: "",
    year: "",
    pages: 0,
    author: ""
  };

  authors = [];

  created() {
    this.$igApi.authors.list().then(
      (res: any) =>
        (this.authors = res.map((author: any) => ({
          value: author.id,
          text: `${author.name} ${author.surname}`
        })))
    );
  }
}
</script>
