<template>
  <div>
    <b-table :items="items" :fields="fieldsWithActions">
      <template slot="[actions]" slot-scope="data">
        <b-btn class="mr-1" @click="edit(data.item)">Edit</b-btn>
        <b-btn @click="remove(data.item)">Delete</b-btn>
      </template>
    </b-table>
    <b-btn @click="create()">Add</b-btn>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { BvTableField, BvTableFieldArray } from "bootstrap-vue";
import {
  igConfirmDeleteModal,
  igCreateItemModal,
  igEditItemModal
} from "../igCrudModals";
import BaseModel from "@/services/models/BaseModel";

@Component
export default class IgCrud extends Vue {
  @Prop({
    required: true
  })
  model!: BaseModel;

  @Prop({
    required: true,
    default: []
  })
  fields!: BvTableFieldArray;

  @Prop({
    required: true
  })
  formComponent!: any;

  items = [];

  get fieldsWithActions() {
    return [...this.fields, { key: "actions" }];
  }

  remove(item: any) {
    igConfirmDeleteModal().then((res: boolean) => {
      if (!res) return;

      this.withReload(this.model.remove(item.id));
    });
  }

  create() {
    igCreateItemModal(this.formComponent).then((res: any) => {
      if (!res) return;

      this.withReload(this.model.create(res));
    });
  }

  edit(item: any) {
    let newItem = Object.assign({}, item);

    this.fields.forEach((field: any) => {
      if (field.editFormatter && item[field.key]) {
        newItem[field.key] = field.editFormatter(item[field.key]);
      }
    });

    igEditItemModal(this.formComponent, newItem).then((res: any) => {
      if (!res) return;

      this.withReload(this.model.edit(item.id, res));
    });
  }

  created() {
    this.fetch();
  }

  fetch() {
    this.model.getAll().then((res: any) => (this.items = res));
  }

  private withReload(promise: Promise<any>) {
    promise.then(() => this.fetch());
  }
}
</script>

<style></style>
