<template>
  <div>
    <div class="nav__container"></div>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {}
</script>

<style>
.nav__container {
  margin-top: 10px;
  padding-bottom: 10px;
}
</style>
