<template>
  <div>
    <ig-crud
      :fields="fields"
      :model="$api.books"
      :form-component="formComponent"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BvTableFieldArray } from "bootstrap-vue";
import BookForm from "@/components/forms/BookForm.vue";

@Component
export default class AppAdminBooks extends Vue {
  fields: BvTableFieldArray = [
    {
      key: "id",
      label: "ID"
    },
    {
      key: "name",
      label: "Book name"
    },
    {
      key: "year",
      label: "Published year"
    },
    {
      key: "pages",
      label: "Pages"
    },
    {
      key: "author",
      label: "Author",
      formatter: (item: any) => `${item.name} ${item.surname} [${item.id}]`,
      editFormatter: (item: any) => item.id
    } as any
  ];

  formComponent = BookForm;
}
</script>
