<template>
  <div>
    <ig-crud
      :fields="fields"
      :model="$api.authors"
      :form-component="authorForm"
    ></ig-crud>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BvTableFieldArray } from "bootstrap-vue";
import AuthorForm from "../components/forms/AuthorForm.vue";

@Component({})
export default class AppAdminAuthors extends Vue {
  authorForm = AuthorForm;

  fields: BvTableFieldArray = [
    {
      key: "id",
      label: "ID"
    },
    {
      key: "name",
      label: "First name"
    },
    {
      key: "surname",
      label: "Last Name"
    }
  ];
}
</script>
