<template>
  <div>
    <b-nav tabs>
      <b-nav-item :to="{ name: 'app.admin.authors' }">Authors</b-nav-item>
      <b-nav-item :to="{ name: 'app.admin.books' }">Books</b-nav-item>
      <b-nav-item class="nav-item--right" :to="{ name: 'app.browser' }" append
        >Back to browser</b-nav-item
      >
    </b-nav>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppAdmin extends Vue {}
</script>

<style>
.nav-item--right {
  margin-left: auto;
}
</style>
