<template>
  <div>AppBrowserAuthors</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppBrowserAuthors extends Vue {}
</script>
