<template>
  <div>
    <router-link to="/app/browser/books">books</router-link>
    <router-link to="/app/browser/authors">authors</router-link>
    <router-link :to="{ name: 'app.admin' }">to admin</router-link>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppBrowser extends Vue {}
</script>
