<template>
  <div>AppBrowserBooks</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppBrowserBooks extends Vue {}
</script>
