<template>
  <div>
    <b-table :items="items" :fields="fieldsWithActions">
      <template slot="[actions]" slot-scope="item">
        <b-btn class="mr-1" @click="editItem(item.item)">Edit</b-btn>
        <b-btn @click="deleteItem(item.item)">Delete</b-btn>
      </template>
    </b-table>
    <b-btn @click="addNewItem()">Add</b-btn>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { BvTableFieldArray } from "bootstrap-vue";
import {
  addNewItemModal,
  confirmDeleteModal,
  editItemModal
} from "@/modules/ig-crud/components/modals";
import BaseRestModel from "@/services/models/BaseRestModel";

@Component
export default class IgCrud extends Vue {
  @Prop({
    required: true,
    type: Object
  })
  model!: BaseRestModel;

  @Prop({
    required: true,
    type: Array
  })
  fields!: BvTableFieldArray;

  @Prop({
    required: true,
    type: Function
  })
  formComponent!: any;

  items = [];

  get fieldsWithActions() {
    return [
      ...this.fields,
      {
        key: "actions"
      }
    ];
  }

  created() {
    this.fetch();
  }

  fetch() {
    this.model.list().then(res => {
      this.items = res;
    });
  }

  withReload(promise: Promise<any>) {
    return promise.then(() => this.fetch());
  }

  addNewItem() {
    addNewItemModal(this.formComponent).then(res => {
      if (!res) return;

      this.withReload(this.model.create(res));
    });
  }

  editItem(item: any) {
    let newItem = { ...item };
    this.fields.forEach((field: any) => {
      if (!field.editFormatter) return;

      newItem[field.key] = field.editFormatter(item[field.key]);
    });

    editItemModal(this.formComponent, newItem).then(res => {
      if (!res) return;

      this.withReload(this.model.edit(item.id, res));
    });
  }

  deleteItem(item: any) {
    confirmDeleteModal().then(res => {
      if (!res) return;

      this.withReload(this.model.remove(item.id));
    });
  }
}
</script>
