<template>
  <div>
    <router-view></router-view>
    <dialogs-wrapper />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class App extends Vue {}
</script>
