<template>
  <div>
    <ig-crud
      :fields="fields"
      :model="$igApi.authors"
      :form-component="authorForm"
    ></ig-crud>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { BvTableFieldArray } from "bootstrap-vue";
import AuthorForm from "@/components/forms/AuthorForm.vue";

@Component({})
export default class AppAdminAuthors extends Vue {
  fields: BvTableFieldArray = [
    {
      key: "id",
      label: "ID"
    },
    {
      key: "name",
      label: "First name"
    },
    {
      key: "surname",
      label: "Last name"
    }
  ];

  authors = [
    {
      name: "alois",
      surname: "jirasek"
    },
    {
      name: "alois",
      surname: "jirasek"
    },
    {
      name: "alois",
      surname: "jirasek"
    }
  ];

  authorForm = AuthorForm;
}
</script>
