<template>
  <div>
    <ig-crud
      :fields="fields"
      :model="$igApi.books"
      :form-component="bookForm"
    ></ig-crud>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import BookForm from "../components/forms/BookForm.vue";
import { BvTableFieldArray } from "bootstrap-vue";

@Component({})
export default class AppAdminBooks extends Vue {
  fields: BvTableFieldArray = [
    {
      key: "name",
      label: "Name"
    },
    {
      key: "year",
      label: "Year"
    },
    {
      key: "pages",
      label: "Pages"
    },
    {
      key: "author",
      label: "Author",
      formatter: (item: any) => `${item.name} ${item.surname}`,
      editFormatter: (item: any) => item.id
    } as any
  ];

  bookForm = BookForm;
}
</script>
