<template>
  <div>
    <b-nav tabs>
      <b-nav-item :to="{ name: 'app.admin.books' }">books</b-nav-item>
      <b-nav-item :to="{ name: 'app.admin.authors' }">authors</b-nav-item>
    </b-nav>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class AppAdmin extends Vue {}
</script>
