<template>
  <div>
    <BookList :books="books" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import BookList from "@/components/BookList.vue";

@Component({
  components: { BookList }
})
export default class AppPublicAll extends Vue {
  get books() {
    return this.$store.state.bookList;
  }

  created() {
    this.$store.dispatch("loadAllBooks");
  }
}
</script>
<style>

</style>
