<template>
  <div>
    <header>
      <h2>
        Library
        <small
          ><router-link :to="{ name: 'app.admin.books' }"
            >admin</router-link
          ></small
        >
      </h2>
    </header>
    <b-row>
      <b-col :cols="3">
        <h5 v-element-content="booksCount"></h5>

        <ul>
          <li>
            <router-link :to="{ name: 'app.public.all' }">All</router-link>
          </li>
          <li v-for="author in authors" :key="author.id">
            <router-link
              :to="{ name: 'app.public.book', params: { id: author.id } }"
              >{{ author | authorName }}</router-link
            >
          </li>
        </ul>
      </b-col>
      <b-col :cols="9">
        <router-view></router-view>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class AppPublic extends Vue {
  authors = [];

  get booksCount() {
    return this.$store.state.bookList.length;
  }

  created() {
    this.$igApi.authors.list().then(res => (this.authors = res));
  }
}
</script>
