<template>
  <div>
    <BookList :books="books" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import BookList from "@/components/BookList.vue";

@Component({
  components: { BookList }
})
export default class AppPublicBook extends Vue {
  get books() {
    return this.$store.state.bookList;
  }

  created() {
    this.$store.dispatch("loadByAuthor", this.$route.params.id);
  }

  @Watch("$route")
  onRouteUpdate(to: any) {
    this.$store.dispatch("loadByAuthor", to.params.id);
  }
}
</script>
