<template>
  <div id="app" class="container">
    <router-view />
  </div>
</template>

<style lang="less" scoped>
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-vue/dist/bootstrap-vue.css";

.container {
  padding-top: 20px;
}
</style>
