<template>
  <div>
    <ig-base-modal :close-using="$close" title="Add new item">
      <div class="my-4" slot="body">
        <component :is="formComponent" v-model="form"></component>
      </div>

      <template slot="footer">
        <b-button variant="secondary" @click="$close(false)">Cancel</b-button>
        <b-button variant="danger" @click="$close(form)">Create</b-button>
      </template>
    </ig-base-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import IgBaseModal from "@/modules/ig-crud/components/modals/IgBaseModal.vue";
import { DialogComponent } from "vue-modal-dialogs";
import AuthorForm from "@/components/forms/AuthorForm.vue";

@Component({
  components: { AuthorForm, IgBaseModal }
})
export default class AddNewItemModal extends DialogComponent<any> {
  @Prop()
  formComponent!: any;

  form = {};
}
</script>
