<template>
  <div>
    <ig-base-modal :close-using="$close" title="Confirm delete">
      <div class="my-4" slot="body">
        <h3>Are you sure you want to delete the item?</h3>
      </div>

      <template slot="footer">
        <b-button variant="secondary" @click="$close(false)">Cancel</b-button>
        <b-button variant="danger" @click="$close(true)">Delete</b-button>
      </template>
    </ig-base-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import IgBaseModal from "@/modules/ig-crud/components/modals/IgBaseModal.vue";
import { DialogComponent } from "vue-modal-dialogs";

@Component({
  components: { IgBaseModal }
})
export default class AddNewItemModal extends DialogComponent<any> {}
</script>
