<template>
  <div>
    <ig-base-modal :close-using="$close" title="Edit item">
      <div class="my-4" slot="body">
        <component :is="formComponent" v-model="localItem"></component>
      </div>

      <template slot="footer">
        <b-button variant="secondary" @click="$close(false)">Cancel</b-button>
        <b-button variant="danger" @click="$close(localItem)">Save</b-button>
      </template>
    </ig-base-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import IgBaseModal from "@/modules/ig-crud/components/modals/IgBaseModal.vue";
import { DialogComponent } from "vue-modal-dialogs";

@Component({
  components: { IgBaseModal }
})
export default class AddNewItemModal extends DialogComponent<any> {
  @Prop()
  formComponent!: any;

  @Prop()
  item!: any;

  localItem = {};

  created() {
    this.localItem = this.item;
  }
}
</script>
