<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="vue.js"></script>
  <link rel="stylesheet" href="styles.css">
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      Vue.component("TodoItem", {
        props: {
          item: {
            type: Object,
            required: true,
          },
        },
        data() {
          return {
            editing : false,
            newText : ""
          }
        },
        created() {
          this.newText = this.item.text
        },
        methods: {
          removeItem() {
            this.$emit("remove", this.item);
          },
          saveEdit() {
            this.$emit("edit", { item: this.item, newText: this.newText});
            this.editing = false;
          },
          editItem() {
            this.editing = true;
          },
          cancelEdit() {
            this.editing = false;
          },
        },
        template: `
<div>
  <div v-if="editing">
    <input type="text" v-model="newText">
    <button @click="saveEdit()">ulozit</button>
    <button @click="cancelEdit()">zrusit</button>
  </div>
  <div v-else>
    <div class="todo-item" :class="item.finished ? 'todo-item--finished' : ''">{{item.text}}</div>
    <button @click="removeItem()">smazat</button>
    <button @click="editItem()">editovat</button>
  </div>
</div>
`
      });

      Vue.component("TodoAppHeader", {
        template: `<div>
  <slot name="before" />
  <img src="https://picsum.photos/id/81/200/300" alt="" height="100">
  <slot name="after" />
</div>`
      })

      Vue.component("TodoList", {
        data() {
          return {
            newItemText: "",
            items: [
              {
                text: "umyt nadobi",
                finished: false
              },
              {
                text: "umyt podlahu",
                finished: false
              },
              {
                text: "utrit prach",
                finished: true
              },
              {
                text: "zalit kvetiny",
                finished: false
              }
            ]
          }
        },
        computed: {
          finishedItems() {
            return this.items.filter(itm => itm.finished).length;
          },
          totalItems() {
            return this.items.length;
          }
        },
        methods: {
          addItem() {
            console.log(this.items);
            this.items.push({text: this.newItemText})
            this.newItemText = ''
          },
          removeItem(item) {
            this.items.splice(this.items.findIndex(el => el.text === item.text), 1)
          },
          editItem({ item, newText }) {
            console.log('edit', item, newText)
            this.items.splice(this.items.findIndex(el => el.text === item.text), 1, { ...item,text: newText})
            item.text = ""
          }
        },
        template: `
<div>
  <h2>hotovych: {{finishedItems}} celkem: {{totalItems}}</h2>
  <TodoAppHeader>
    <template slot="before"><h3>Integra todo</h3><h4>ze skoleni</h4></template>
    <template slot="after"><span>po obrazku</span></template>
  </TodoAppHeader>
  <TodoItem v-for="item in items" :item="item" @remove="removeItem($event)" @edit="editItem($event)"></TodoItem>
  <br>
  <input type="text" v-model="newItemText">
  <button @click="addItem()">pridat</button>
</div>
`
      });

      let app = new Vue({
        el: "#app",
        template: `
<div>
  <TodoList></TodoList>
</div>
`
      })
    })

  </script>
  <title>VueJS Todolist</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
