<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue test</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script>
        import { render, props, computed, data } from Vue;
		document.addEventListener('DOMContentLoaded', () => {
			Vue.filter("")

			Vue.component('todo-item', () => {
				props("todo", { })
				props("finsihed", { })

                data(() => ({ state: true }))
            })

			Vue.component('todo-item', {
				props: {
					todo: {
						type: Object,
						required: true
					},
				},
				data() {
					return {
						newText: this.todo.text,
						editing: false
					}
				},
				methods: {
					saveEdit() {
						this.$emit('onEdit', { text: this.newText })
						this.editing = false;
					}
				},
				template: `
<div :class="{'todolist__item--finished' : todo.finished }">
    <div v-if="!editing">
        <div class="todolist__item-text" @click="$emit('onEdit', {...todo, finished: !todo.finished})">{{todo.text}}</div>
        <button class="todolist__item-button" @click="editing = true">edit</button>
        <button class="todolist__item-button" @click="$emit('onDelete')">delete</button>
    </div>
    <div v-else>
        <input type="text" v-model="newText">
        <button class="todolist__item-button" @click="saveEdit()">save</button>
    </div>
</div>`,
			});

			Vue.component('todo-list', {
				template: `
        		<div>
            		<h1>ToDo list ({{ finishedCount }}/ {{ totalCount }})</h1>
        		    <todo-item v-for="item in items" :key="item.text" :todo="item" @onEdit="editTodo(item, $event)" @onDelete="deleteTodo(item)"></todo-item>
        		    <br>
        		    <input type="text" v-model="newTodoText"><button v-on:click="addTodo()">Add</button>
                </div>
        		`,
				data() {
					return {
						totalItems: 0,
						finishedItems: 0,
						newTodoText: '',
						items: [
							{
								text: 'Hello',
								finished: false
							},
							{
								text: 'my wonderful',
								finished: false
							},
							{
								text: 'worllld.',
								finished: true
							}
						]
					}
				},
				computed: {
					finishedCount() {
						console.log('test');
						return this.items.filter(itm => itm.finished).length
					},
					totalCount() {
						return this.items.length
					}
				},
				methods: {
					addTodo() {
						this.items.push({ text: this.newTodoText })
						this.newTodoText = '';
					},
					editTodo(todo, newTodo) {
						console.log(this.items.splice)
						this.items.splice(this.items.findIndex((itm) => itm.text === todo.text), 1, Object.assign({}, todo, newTodo));
					},
					deleteTodo(todo) {
						this.items.splice(this.items.findIndex((itm) => itm.text === todo.text), 1);
					},
				}
			})

			const app = new Vue({
				el: '#app',
				template: `
<div>
    <todo-list></todo-list>
</div>
`,
				data: {
					appName: 'Integra skoleni'
				}
			})
		})
    </script>
</head>
<body>
<div id="app"></div>
</body>
</html>
