body {
    font-size: 14px;
    font-family: Arial;
}

.todolist__item {
    margin: 5px;
}

.todolist__item-text {
    display: inline-block;
    width: 300px;
    cursor: pointer;
}

.todolist__item--finished .todolist__item-text {
    text-decoration: line-through;
    opacity: 0.5
}
